body {
    background: #b7f0fa;
    font-family: 'comic sans ms', serif;
    text-align: center;
}
h1 {
    color: darkblue;
    font-size: 50px;
}
h4 {
    color: darkblue;
    font-size: 34px;
    font-style: italic;
    text-decoration: underline;
}
.advice {
    border: 10px solid darkgrey; 
    padding: 40px;
    width: 900px;
    margin-left: 200px;
    color: white;
    background: black;
    font-size: 24px;

}

